@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
}

:root {
    --primary-color: #006a50;
    --light-primary-color: #c6e4d6;
}

.container {
    max-width: 1300px;
    width: 90%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav a {
    border: 1px solid var(--primary-color);
    padding: 8px 24px;
    color: var(--primary-color);
    border-radius: 4px;
    font-weight: bold;
    transition: .3s;
}

nav a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.banner {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-primary-color);
    padding: 60px;
    border-radius: 25px;
}

.banner h3 {
    font-size: 40px;
}

.banner a {
    background: var(--primary-color);
    color: white;
    padding: 8px 24px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 10px;
    border: 1.5px solid var(--primary-color);
    transition: .3s;
}

.banner a:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin: 40px 0 30px;
}

.card_holder {
    display: flex;
    gap: 20px;
}

.card {
    border-radius: 20px;
    padding: 30px;
}

.Pcard {
    border: 1px solid #ddd;
    background-color: white;
}

.vision {
    margin: 30px 0;
}
.fi{
margin-block: 10px;
}

.v-card1 {
    background-color: #d5e1f5;
}

.v-card2 {
    background-color: #c6e4d6;
}

.v-card3 {
    background-color: #f7ebcf;
}

.v-card1,
.v-card2,
.v-card3 {
    width: calc(100%/3);
}

.v_btn {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0 0;
    transition: .3s;
}

.v-btn1 {
    background-color: #5490f5;
    border: 2px solid #5490f5;
}

.v-btn1:hover {
    background-color: transparent;
    color: #5490f5;
}

.v-btn2 {
    background-color: #089052;
    border: 2px solid #089052;
}

.v-btn2:hover {
    background-color: transparent;
    color: #089052;
}

.v-btn3 {
    background-color: #ffc239;
    border: 2px solid #ffc239;
}

.v-btn3:hover {
    background-color: transparent;
    color: #ffc239;
}

.testimonial {
    background-color: #fff;
    border: 1px solid #ddd;
}

.testimonial p {
    margin-bottom: 10px;
}

.testimonial .quote {
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
   
}
